<div class="container mat-elevation-z8">
  <form class="form">

    <h1>Deletando Cliente</h1>

    <img src="assets/img/tecnico-create.svg" alt="Cliente create">

    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input 
      [(ngModel)]="cliente.nome"
      name="nome"
      [disabled]="true"
      matInput >
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>CPF</mat-label>
      <input 
      [(ngModel)]="cliente.cpf"
      name="cpf"
      [disabled]="true"
      matInput >
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>E-mail</mat-label>
      <input 
      [(ngModel)]="cliente.email"
      name="email"
      [disabled]="true"
      matInput >
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Senha</mat-label>
      <input 
      [(ngModel)]="cliente.senha"
      name="senha"
      [disabled]="true"
      type="password"
      matInput >
    </mat-form-field>

    <button (click)="delete()" mat-stroked-button class="mat-elevation-z4" color="primary">Deletar</button>
    <button (click)="cancel()" mat-stroked-button class="mat-elevation-z4" color="warn">Cancelar</button>
  </form>
</div>