.create {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.create h1 {
  text-align: center;
  font-size: 2rem;
}

.create button {
  width: 100%;
  margin: 1rem auto;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

table {
  width: 100%;
}

.filter {
  width: 90%;
  margin-left: 5%;
}

#edit {
  color: rgb(0, 195, 255);
  opacity: .8;
}

#delete {
  color: rgba(255, 0, 0, 0.795);
  opacity: .8;
}