.create {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.create h1 {
  text-align: center;
  font-size: 2rem;
}

.create button {
  width: 100%;
  margin: 1rem auto;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

table {
  width: 100%;
}

table th, td {
  text-align: center;
}

.filter {
  width: 90%;
  margin-left: 5%;
}

#view {
  color: rgb(112, 112, 112);
}

#edit {
  color: rgb(112, 112, 112);
}

