.container {
  width: 45%;
  margin: auto auto 4rem auto;
  border: 1px solid rgb(207, 201, 201);
  border-radius: 1rem;
  padding: 1rem;
}

h1, p, img {
  text-align: center;
}

img {
  height: 14rem;
}

.priordade-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 48%;
}

.descricao {
  min-height: 6rem;
  max-height: 10rem;
}

button {
  margin-bottom: .5rem;
}

p {
  margin-top: 2rem;
  opacity: .5;
}

h1 {
  font-size: 2rem;
  margin: 2rem;
}