.container {
  width: 25rem;
  margin: auto;
}

img {
  height: 8rem;
  width: 100%;
  margin: auto;
}

.section {
  margin-bottom: 1rem;  
  display: flex;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

button {
  width: 100%;
  margin-top: .5rem;
}